{% extends "base.html" %}
{% block content %}
<div class="hero-section">
    <div class="hero-content">
        <h1>KLASIFIKASI BENCANA KEKERINGAN
            DI JAWA TIMUR MENGGUNAKAN
            CITRA SATELIT LANDSAT 8
            DENGAN METODE XGBOOST</h1>
        <p>Kevin Tulus Ricardo Silitonga<br />
            Program Studi Teknologi Informasi<br />
            Fakultas Ilmu Komputer dan Teknologi Informasi - USU
        </p>
    </div>
    <div class="hero-image"></div>
</div>
{% endblock %}